/* app.css for Silver Network
(c) Silver Team 2022 */

body{
    background-color: #131314;
    font-family: "Varela Round", sans-serif;
}
h1, p, i, h2, h3, h4, b{
    color: white;
}
.logo-text{
    background: linear-gradient(to bottom right, #1fa39d, #2e0f61);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -op-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-left: 20px;
}
.logo-href{
    text-decoration: none;
}
.logo-container{
    display: inline-block;
    width: 300px;
}
.logo-container img{
    float: left;
}
.logo-container h1{
    margin-top: 10;
}
.icons-container{
    margin-top: 10;
    float: right;
}
.icons-container .icon{
    transition-duration: 0.2s;
}
.icons-container .icon:hover{
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.25);
    transition-duration: 0.2s;
    opacity: 50;
}
.main .centered-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500;
}
.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40;
    width: 207px;
    background-color: #2e0f61;
    background-image: linear-gradient(to bottom right, #1fa39d, rgba(255, 255, 255, 0));
    text-decoration: none;
    color: white;
    border-radius: 2px;
    transition-duration: 0.2s;
    /* quick n' dirty fix for an issue using <input type="submit"> */
    border-width:0px;
    border:none;
}
.input{
    background-color: #383736;
    color: white;
    border-radius: 2px;
    height: 30px;
    border: none;
    display: block;
    transition-duration: 0.2s;
}
.input-container input:focus{
    background-color: rgba(56, 55, 54, 0.5);
    transition-duration: 0.2s;
}
.input + .input {
    margin-top: 10px;
}
.input + .button {
    margin-top: 10px;
}
.button:hover {
    background-color: #1fa39d;
    border-radius: 4px;
    background-image: linear-gradient(to bottom right, #2e0f61, rgba(255, 255, 255, 0));
    transition-duration: 0.5s;
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400;
    width: 500;
    box-shadow: 0 0 5px #000;
}
.error {
    color: red;
}
.search-bar {
    background-color: #383736;
    height: 40px;
    width: 600px;
    color: white;
    border: none;
    border-radius: 4px;
    transition-duration: 0.2s;
}
.search-bar-container input:focus{
    background-color: rgba(56, 55, 54, 0.5);
    transition-duration: 0.2s;
}
.icon-anchor {
    text-decoration: none;
}
.icon-anchor + .icon-anchor{
    margin-left: 20px;
}
